<header layout horizontal main-justified cross-center relative class="header">
    <h1 class="header_title"><span id="hostname">BrewPiLess</span> <span id="verinfo" class="header_version-display"></span></h1>
    <div navigation>
        <div menuToggle>
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul class="options">
                <li><a href="/index.html">graph</a></li>
                <li><a href="/control.html">control</a></li>
                <li><a href="/logging.html">logs</a></li>
                <li><a href="/setup.html">setup</a></li>
                <li><a href="/config.html">config</a></li>
                <li><a href="/gravity.html">gravity</a></li>
            </ul>
        </div>
    </div>
</header>